// Mobile
@media(max-width:767px){

}

@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

.navbar-default {
  // background-color: rgba(250, 250, 250, 0.1) ;
  // background-color: rgba(0, 0, 0, 0.1) ;
  background-color: transparent ;
  color: white ;
  border: none ;
  
  .navbar-toggle {
    border: none ;
    &:hover {
      background-color: rgba(250, 250, 250, 0.2) ;
    }
    &:focus {
      background-color: rgba(250, 250, 250, 0.2) ;
      
    }  
  }
}

.navbar {
  margin-bottom: 0px ;
  position: absolute ;
  width: 100vw ;
  color: white ;
  // text-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .dropdown {
    border-top-color: #fff;
    border-bottom-color: #fff;
}



body {
  position: relative ;
  background: #ddd ;
  
  table {
    background: rgba(250, 250, 250, 0.6);
    border-radius: 3px ;
    margin: 10px ;
  }
}


main {
  
  height: 100vh ;
  background-image: url('../img/headerImg.jpg');
  background-size: cover ; 
  // position: center ;
  margin-bottom: 50px ;

  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  text-align: center ;

}
// header {
//   text-align: center;
//   display:flex;
//   flex-flow: row wrap;
//   // background-color: indigo;
//   // padding:10px;
//   margin-bottom: 10px;
//   h1 {
//     color:gold;
//     transition: all 3s;

//     &:hover {
//         color:lightblue;
//         font-size: 3em;
//     }
//   }
// }

footer {
  // background-color: black;
  text-align: center;
  color: black;
}

@import 'passenger';


.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center ;
  max-width: 70vw;
  margin: 0 auto;

  .flightCard {
    background: white ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid dimgray;
    border-radius: 3px ;
    width: 100%;
    height: 20vh;
    margin: 5px ;
    padding: 10px ;
    box-shadow: 0px 0px 0px 1px white inset, 
                0px 0px 0px 5px #ddd inset;
    .topDateBar {
      // border: 1px solid dimgrey;
      // border-radius: 3;
      display: flex;  
      justify-content: center;
    }
    .midContainer {
      // border: 1px solid dimgrey;
      // border-radius: 3vh;    
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-height: 150px;
      img {
        max-height: 100px;
        border-radius: 50%;
      }
    }
  }

}

.popupCont {
  display: none ;
  position: absolute ;
  
  top: 0 ;
  bottom: 0 ;
  right: 0 ;
  left: 0 ;
  width: 100vw ;
  height: 100vh ;
  background: rgba(0, 0, 0, 0.6);
  
  .chooseUserCont {
    color: white ;
    background: #006 ;
    padding: 20px ;
    // border: 3px solid black ;
    border-radius: 10px ;
    position: absolute ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%);
    width: 60% ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    
    
  }
}


.routeSelectorCont{
  border: 1px solid #ccc;
  border-radius: 3px ;
  display: flex;
  height: 20vh;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  margin: 3vw;
  background: rgba(250, 250, 250, 0.15);
  .srcCont {
    // margin: 5vw;
    max-width: 50vw;
  }
  .destCont {
    // margin: 5vw;
    max-width: 50vw;  
  }
  .srchFlightBtn {
    // margin: 5vw;
    max-height: 5vh;
  }
}

::-webkit-input-placeholder {
 font-size: 14px;
 font-weight: bold;
}

:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 font-weight: bold;
}

::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 font-weight: bold;
} 

:-ms-input-placeholder { 
 font-size: 14px; 
 font-weight: bold;
}

@media (max-width: 580px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .routeSelectorCont {
    flex-direction: column;
    justify-content: space-around;
    height: 30vh; 
    width: 60vw;
  }
}

// passenger new layout.
.passengerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  .addPassengerContainer {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 50vw;
  }
  .table {
    width: 80vw;
  }
}
